<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | Abel Pll</title>
    <meta name="description" content="Página de contacto de Abel Pll. Encuentra aquí mis redes sociales y formas de comunicación.">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Abel Pll">
</head>
<body>
    <header>
        <h1>Abel Pll</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('proyectos') }}">Proyectos</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Contacto</h1>
        <p>Puedes contactarme a través de mis redes sociales:</p>
        <div class="redes-sociales">
            <h2>Redes Sociales</h2>
            <div>
                <a rel="me" href="https://www.youtube.com/@abelpll97" target="_blank" class="red-social-link" title="Perfil de Abel Pll en YouTube">
                    YouTube
                </a>
            </div>
        </div>
    </main>
</body>
</html>
