<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Abel Pll</title>
</head>
<body>
  <h1>Contacto</h1>
  <p>Puedes contactarme a través de mis redes sociales:</p>
  <div class="redes-sociales">
    <h2>Redes Sociales</h2>
    <ul>
      <li>
        <a rel="me" href="https://mastodon.social/@abelpll19" target="_blank" class="red-social-link">
          Mastodon
        </a>
      </li>
    </ul>
  </div>
</body>
</html>
